{% load bootstrap4 %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
  <div class="container">
    <a class="navbar-brand" href="/">
      <h1> BRAVO </h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/{{request.user.id}}">Profile</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/accounts/logout/">Logout</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/accounts/login/">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/accounts/register/">Sign up</a>
        </li>
        {% endif %}

        <li class="btn btn-outline-warning">
          <a  class="nav-link active" aria-current="page" href="/profile/addproject" target="_blank">Add project</a>
        </li>
       
      </ul>
      <li class="dropdown mx-4 btn btn-sm ">
        <a href="#" class="dropdown-toggle btn btn-dark" data-toggle="dropdown" role="button" aria-expanded="false">APIs <span class="caret"></span></a>

        <ul class="dropdown-menu" role="menu">
          <li class="btn btn-default">
            <a href="api/project/" target="_blank">Projects API</a>
          </li>
          <li class="btn btn-default">
            <a href="api/profile/" target="_blank">Profile API</a>
          </li>

        </ul>
      </li>
     
      <h5 class="navbar-text text-dark">
        Welcome {{ user.username }}
      </h5>

    </div>
  </div>
  
</nav>
